<h2>Hello {{ auth.user.name }} {{ auth.user.surname }} !</h2>
<img src="{{ auth.user.gravatar }}?s=200">
<br><br>
<p><b>Role: </b>{{ auth.user.role_name }}</p>
<p><b>Degree: </b><br>{{ auth.user.degree_name }}</p>
<p><b>Centre: </b><br>{{ auth.user.centre_name }}</p>
<p><b>University: </b><br>{{ auth.user.university_name }}</p>