{% extends 'layouts/master.twig' %}

{% block title %}Register{% endblock %}
{% block content %}
    <h1>Welcome student!</h1>
    <h3>Please fill in with the following data:</h3>

    {% if flash.getMessage('error') %}
        <div class="alert alert-danger" role="alert">
            {{ flash.getMessage('error')[0] }}
            {% if flash.getMessage('messages') %}
                : {{ flash.getMessage('messages')[0] }}
            {% endif %}
        </div>
    {% endif %}

    <form method="POST" action="/register">
        <input type="hidden" value="" name="gravatar_uri" id="gravatar_uri">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Your name"
                       value="{{ session.params.name }}">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ session.params.email }}"
                       placeholder="somebody@example.com">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password"
                       value="{{ session.params.password }}" placeholder="secret">
            </div>
            <div class="form-group">
                <label for="password_confirmation">Password Confirmation</label>
                <input type="password" class="form-control" id="password_confirmation" name="password_confirmation"
                       value="{{ session.params.password_confirmation }}" placeholder="secret">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" id="surname" name="surname" value="{{ session.params.surname }}"
                       placeholder="Your surname">
            </div>
            <div class="form-group">
                <label for="nif">NIF</label>
                <input type="text" class="form-control" id="nif" name="nif" value="{{ session.params.nif }}"
                       placeholder="Your NIF">
            </div>
            <div class="form-group">
                <label for="university">University</label>
                <select class="form-control" id="university" name="university_id">
                    <option value="0" selected>Your university</option>
                    {% for university in universities %}
                        <option value="{{ university.id }}"
                                {% if university.id == session.params.university_id %}
                                selected
                                {% endif %}
                        >{{ university.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="centre">Centre</label>
                <select class="form-control" id="centre" name="centre_id">
                    <option value="0" selected>Your centre (please select an university first)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="degree">Degree</label>
                <select class="form-control" id="degree" name="degree_id">
                    <option value="0" selected>Your degree (please select a centre first)</option>
                </select>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script src="/js/md5.min.js"></script>

    <script>
        $(function () {
            var $university = $('#university');

            $('form').submit(function () {
                return getDynamicSelectorValue($university) != 0;
            });

            $('#email').focusout(function () {
                var email = $(this).val();
                var hash = md5(email);
                var gravatar = 'https://www.gravatar.com/avatar/' + hash  + "?s=200";

                $("#gravatar").attr('src', gravatar);
                $("#gravatar_uri").val(gravatar);
            });

            $university.change(function () {
                var universityId = getDynamicSelectorValue($(this));

                $.ajax({
                    method: 'GET',
                    url: '/universities/' + universityId + '/centres',
                    dataType: 'JSON'
                }).done(function (data) {
                    var $centre = $('#centre');
                    var oldInput = {% if session.params.centre_id %} {{ session.params.centre_id }}{% else %} 0 {% endif %};

                    updateSelectOptions($centre, data, oldInput);

                    $university.find("option[value='0']").remove();

                    $centre.trigger('change');
                });
            });

            $('#centre').change(function () {
                var centreId = getDynamicSelectorValue($(this));

                $.ajax({
                    method: 'GET',
                    url: '/centres/' + centreId + '/degrees',
                    dataType: 'JSON'
                }).done(function (data) {
                    var $degree = $('#degree');
                    var oldInput = {% if session.params.degree_id %} {{ session.params.degree_id }}{% else %} 0 {% endif %};

                    updateSelectOptions($degree, data, oldInput);
                });
            });

            if (getDynamicSelectorValue($university) != 0) {
                $university.trigger('change');
            }
        });

        function updateSelectOptions($selector, data, oldInput) {
            if (data.length <= 0) {
                return;
            }

            $selector.html('');

            $.each(data, function (idx, val) {
                var selected = (oldInput == val.id) ? 'selected' : '';

                $selector.append(
                        $('<option value="' + val.id + '" ' + selected + ' >' + val.name + '</option>')
                );
            });
        }

        function getDynamicSelectorValue(selector) {
            var val = selector.find(':selected').val();

            if (!isNumber(val)) {
                val = 0;
            }

            return val;
        }

        function isNumber(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }
    </script>
{% endblock %}
