{% extends "layouts/master.twig" %}

{% block title %}New request{% endblock %}

{% block content %}
    <h2>Create request</h2>

    <h4>{{ degree_name }}</h4>

    <form method="POST" action="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Origin</h3>
            </div>
            <div class="panel-body">
                <div class="form-group col-md-1">
                    <label for="origin_subject_code">Code</label>
                    <input type="text" class="form-control" id="origin_subject_code" name="origin_subject_code" value="" disabled>
                </div>
                <div class="form-group col-md-6">
                    <label for="origin_subject_id">Subject name</label>
                    <select class="form-control" id="origin_subject_id" name="origin_subject_id">
                        <option selected>Select your subject</option>
                        {% for subject in subjects %}
                            <option value="{{ subject.id }}">{{ subject.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-1">
                    <label for="origin_subject_credits">Credits</label>
                    <input type="text" class="form-control" id="origin_subject_credits" name="origin_subject_credits" value="" disabled>
                </div>
                <div class="form-group col-md-4">
                    Mobility type:
                    <div class="radio">
                        <label>
                            <input type="radio" name="mobility_type_id" id="unica" value="3" checked>
                            Única
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="mobility_type_id" id="erasmus" value="1">
                            Erasmus
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="mobility_type_id" id="sicue" value="2">
                            SICUE
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="destinations_div">
            <div class="panel-heading">
                <div class="row">
                    <div class="pull-left" style="margin: 10px 0 0 20px;">
                        <h3 class="panel-title">
                            Destination
                        </h3>
                    </div>
                    <div class="pull-right" style="margin: 0 10px 0 0;">
                        <span class="btn btn-success" id="add_destination">Add</span>
                        <span class="btn btn-danger" id="delete_destination">Delete</span>
                    </div>
                </div>
            </div>
            <div class="panel-body destination">
                {% include 'requests/partials/destination.twig' %}
            </div>
        </div>

        <input type="hidden" name="request_content" id="request_content">
        <input type="submit" class="btn btn-info" value="Create">
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {

            var destinationTemplate = '{% spaceless %}{% include 'requests/partials/destination.twig' %}{% endspaceless %}';
            var nDestination = 2;

            var subjectCodes = {{ subject_codes | raw }};
            var subjectCredits = {{ subject_credits | raw }};

            var destinationSubjects = [];

            $('form').submit(function (e) {
                var valid = $('input[name="destination_url"]').val().length > 0 &&
                        !isNaN($('#origin_subject_id').find(':selected').val()) &&
                        !isNaN($('#destination_subject_id').find(':selected').val()) &&
                        confirm('Have you finished?');

                if (valid) {
                    $('#request_content').val(JSON.stringify(saveRequest()));
                }

                return valid;
            });

            $('#add_destination').click(function () {
                if (nDestination < 4) {
                    $('#destinations_div').append(
                            $('<div class="panel-body destination">' + destinationTemplate + '</div>')
                    );
                    nDestination++;
                }
            });

            $('#delete_destination').click(function () {
                var children = $('#destinations_div').children();

                if (children.length > 2) {
                    children.last().remove();
                    nDestination--;
                }
            });

            $('#origin_subject_id').change(function () {
                var selectedIdx = $(this).prop('selectedIndex') - 1;

                var originSubjectCode = "";
                var originSubjectCredits = "";
                if (selectedIdx > -1) {
                    originSubjectCode = subjectCodes[selectedIdx];
                    originSubjectCredits = subjectCredits[selectedIdx];
                }

                $('#origin_subject_code').val(originSubjectCode);
                $('#origin_subject_credits').val(originSubjectCredits);
            });

            $(document).on('click', '.custom_subject', function (e) {
                e.preventDefault();

                $(this).parent().find('.selectable_subject_div').toggle();
                $(this).parent().find('.custom_subject_div').toggle();
            });

            $(document).on('change', '#destination_country_id', function () {
                var $this = $(this);
                var countryId = $this.val();

                $.ajax({
                    method: 'GET',
                    url: '/countries/' + countryId + '/cities',
                    dataType: 'JSON'
                }).done(function (data) {
                    var $city = $this.parents('.selectable_subject_div').find('#destination_city_id');
                    updateSelectOptions($city, data);
                    $city.trigger('change');
                });
            });

            $(document).on('change', '#destination_city_id', function () {
                var $this = $(this);
                var cityId = $this.val();

                $.ajax({
                    method: 'GET',
                    url: '/cities/' + cityId + '/universities',
                    dataType: 'JSON'
                }).done(function (data) {
                    var $university = $this.parents('.selectable_subject_div').find('#destination_university_id');
                    updateSelectOptions($university, data);
                    $university.trigger('change');
                });
            });

            $(document).on('change', '#destination_university_id', function () {
                var $this = $(this);
                var universityId = $this.val();

                $.ajax({
                    method: 'GET',
                    url: '/universities/' + universityId + '/centres',
                    dataType: 'JSON'
                }).done(function (data) {
                    var $centre = $this.parents('.selectable_subject_div').find('#destination_centre_id');
                    updateSelectOptions($centre, data);
                    $centre.trigger('change');
                });
            });

            $(document).on('change', '#destination_centre_id', function () {
                var $this = $(this);
                var centreId = $this.val();

                $.ajax({
                    method: 'GET',
                    url: '/centres/' + centreId + '/degrees',
                    dataType: 'JSON'
                }).done(function (data) {
                    var $degree = $this.parents('.selectable_subject_div').find('#destination_degree_id');
                    updateSelectOptions($degree, data);
                    $degree.trigger('change');
                });
            });

            $(document).on('change', '#destination_degree_id', function () {
                var $this = $(this);
                var degreeId = $this.val();

                $.ajax({
                    method: 'GET',
                    url: '/degrees/' + degreeId + '/subjects',
                    dataType: 'JSON'
                }).done(function (data) {
                    var $subject = $this.parents('.selectable_subject_div').find('#destination_subject_id');
                    updateSelectOptions($subject, data);
                    destinationSubjects = data;
                    $subject.trigger('change');
                });
            });

            $(document).on('change', '#destination_subject_id', function () {
                var $this = $(this);
                var subjectIdx = $this.prop('selectedIndex');

                var subject = destinationSubjects[subjectIdx];
                $this.parents('.selectable_subject_div').find('#destination_subject_code').val(subject.code);
                $this.parents('.selectable_subject_div').find('#destination_subject_credits').val(subject.credits);
            });
        });

        function updateSelectOptions($selector, data) {
            $selector.html('');

            $.each(data, function (idx, val) {
                $selector.append(
                        $('<option value="' + val.id + '">' + val.name + '</option>')
                );
            });
        }

        function saveRequest () {
            var result = {
                destinations: []
            };

            result.origin_subject_id = $('#origin_subject_id').val();
            result.mobility_type_id = $('input[name="mobility_type_id"]:checked').val();

            var $destinationsDivs = $('#destinations_div').find('.destination');
            $.each($destinationsDivs, function (idx, value) {
                var $selector = $(value);
                result.destinations.push(destinationToObject($selector));
            });

            return result;
        }

        function destinationToObject($selector) {
            var result = {};

            if ($selector.find('.selectable_subject_div').is(':visible')) {
                $selector = $selector.find('.selectable_subject_div');
                result = {
                    destination_degree_id: $selector.find('#destination_degree_id').find(':selected').val(),
                    destination_url: $selector.find('#destination_url').val()
                };
            } else {
                $selector = $selector.find('.custom_subject_div');
                result = {
                    destination_country: $selector.find('#destination_country').val(),
                    destination_city: $selector.find('#destination_city').val(),
                    destination_university: $selector.find('#destination_university').val(),
                    destination_centre: $selector.find('#destination_centre').val(),
                    destination_degree: $selector.find('#destination_degree').val(),
                    destination_subject_code: $selector.find('#destination_subject_code').val(),
                    destination_subject: $selector.find('#destination_subject').val(),
                    destination_subject_credits: $selector.find('#destination_subject_credits').val(),
                    destination_url: $selector.find('#destination_url').val()
                };
            }

            return result;
        }
    </script>
{% endblock %}