{% extends "layouts/master.twig" %}

{% block title %}Hello{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
    <div class="col-md-3">
        <h2>Hello {{ auth.user.name }} {{ auth.user.surname }} !</h2>
        <img src="{{ auth.user.gravatar }}?s=200">
        <br><br>
        <p><b>Role: </b>{{ auth.user.role_name }}</p>
        {% if auth.isStudent %}
            <p><b>Degree: </b><br>{{ auth.user.degree_name }}</p>
        {% endif %}
        {% if auth.isStudent or auth.isCoordinator %}
            <p><b>Centre: </b><br>{{ auth.user.centre_name }}</p>
            <p><b>University: </b><br>{{ auth.user.university_name }}</p>
        {% endif %}
    </div>
    <div class="col-md-9">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">
                Pending
                <span class="badge">{{ total_pending }}</span>
            </a>
        </li>
        <li role="presentation">
            <a href="#closed" aria-controls="closed" role="tab" data-toggle="tab">
                Closed
                <span class="badge">{{ total_closed }}</span>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <!-- Pending -->
        <div role="tabpanel" class="tab-pane active" id="pending">
            <h3>Here are your open requests:</h3>
            <br>
            {% include 'requests/partials/index-table.twig' with
                { 'table_id': 'pending_requests', 'requests': requests.pending } %}
        </div>
        <!-- Closed -->
        <div role="tabpanel" class="tab-pane" id="closed">
            <h3>Here are your closed requests:</h3>
            <br>
            {% include 'requests/partials/index-table.twig' with
                { 'table_id': 'closed_requests', 'requests': requests.closed } %}
        </div>
    </div>

    <br>

    {% if auth.isStudent %}
        <a href="/requests/new" class="btn btn-success">Create new request</a>
    {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <script>
        $(function () {
            $('#pending_requests').DataTable();
            $('#closed_requests').DataTable();
        });
    </script>
{% endblock %}
